<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreateBillingAgreementPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreateBillingAgreementPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsPost400Response21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsPost502Response21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2ModifyBillingAgreementPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2ModifyBillingAgreementPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\CreateBillingAgreement;
use VisaAcceptanceMergedSpecLib\Models\IntimateBillingAgreement;
use VisaAcceptanceMergedSpecLib\Models\ModifyBillingAgreement;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CreateBillingAgreementPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CreditsPost201Response1;
use VisaAcceptanceMergedSpecLib\Models\PtsV2ModifyBillingAgreementPost201Response;

class BillingAgreementsApi extends BaseApi
{
    /**
     * #### Standing Instruction:
     * Standing Instruction with or without Token. Transaction amount in case First payment is coming along
     * with registration. Only 2 decimal places allowed
     *
     * #### Create Mandate:
     * You can create a mandate through the direct debit mandate flow.
     * Possible create mandate status values:
     * - Pending—the create mandate request was successfully processed.
     * - Failed—the create mandate request was not accepted.
     *
     * #### Import Mandate:
     * In the Bacs scheme, a mandate is created with a status of active. Direct debit collections can be
     * made against it immediately.
     * You can import a mandate to the Visa Acceptance database when:
     * - You have existing customers with signed, active mandates
     * - You manage mandates outside of Visa Acceptance.
     *
     * When you import an existing mandate to the Visa Acceptance database, provide a unique value for the
     * mandate ID or the request results in an error.
     * If an import mandate request is not accepted, the import mandate status value is failed.
     *
     *
     * @param CreateBillingAgreement $body
     *
     * @return ApiResponse Response from the API call
     */
    public function billingAgreementsRegistration(CreateBillingAgreement $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/billing-agreements')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CreateBillingAgreementPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CreateBillingAgreementPost502Response1Exception::class
                )
            )
            ->type(PtsV2CreateBillingAgreementPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * #### Standing Instruction:
     * Standing Instruction with or without Token.
     *
     * #### Revoke Mandate:
     * When you revoke a mandate, any pending direct debits linked to that mandate are canceled. No
     * notifications are sent.
     * When you revoke a mandate with no pending direct debits, the Bacs scheme or customer’s bank notify
     * you of any subsequent direct debit events.
     * When you revoke a mandate, you cannot send a direct debit request using the mandate ID. Customer
     * payments cannot be made against a revoked mandate.
     * You can revoke a mandate when the customer:
     * - Requests that you revoke the mandate.
     * - Closes their account with you.
     * Possible revoke mandate status values -
     * - Revoked—the revoke mandate request was successfully processed.
     * - Failed—the revoke mandate request was not accepted.
     *
     * #### Update Mandate:
     * In most cases, the account details of an existing mandate cannot be updated in the Bacs schema,
     * except by creating a new mandate. However, some very limited customer information, like name and
     * address,
     * can be updated to the mandate without needing to revoke it first
     *
     * #### Mandate Status:
     * After the customer signs the mandate, request that the mandate status service verify the mandate
     * status.
     * Possible mandate status values:
     * - Active—the mandate is successfully created. A direct debit can be sent for this mandate ID.
     * - Pending—a pending mandate means the mandate is not yet signed.
     * - Failed—the customer did not authenticate.
     * - Expired—the deadline to create the mandate passed.
     * - Revoked—the mandate is cancelled.
     *
     * #### Paypal Billing Agreement:
     * A billing agreement is set up between PayPal and your customer.
     * When you collect the details of a customer’s billing agreement, you are able to bill that customer
     * without requiring an authorization for each payment.
     * You can bill the customer at the same time you process their PayPal Express checkout order, which
     * simplifies your business processes.
     *
     *
     * @param string $id ID for de-registration or cancellation of Billing Agreement
     * @param ModifyBillingAgreement $body
     *
     * @return ApiResponse Response from the API call
     */
    public function billingAgreementsDeRegistration(string $id, ModifyBillingAgreement $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/pts/v2/billing-agreements/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2ModifyBillingAgreementPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2ModifyBillingAgreementPost502Response1Exception::class
                )
            )
            ->type(PtsV2ModifyBillingAgreementPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Standing Instruction with or without Token.
     *
     * @param string $id ID for intimation of Billing Agreement
     * @param IntimateBillingAgreement $body
     *
     * @return ApiResponse Response from the API call
     */
    public function billingAgreementsIntimation(string $id, IntimateBillingAgreement $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/billing-agreements/{id}/intimations')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CreditsPost400Response21Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CreditsPost502Response21Exception::class
                )
            )
            ->type(PtsV2CreditsPost201Response1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
