<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsCapturesPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsCapturesPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\CapturePaymentRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsCapturesPost201Response;

class CaptureApi extends BaseApi
{
    /**
     * Include the payment ID in the POST request to capture the payment amount.
     *
     * @param string $id The payment ID returned from a previous payment request. This ID links the
     *        capture to the payment.
     * @param CapturePaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function capturePayment(string $id, CapturePaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payments/{id}/captures')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsCapturesPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsCapturesPost502Response1Exception::class
                )
            )
            ->type(PtsV2PaymentsCapturesPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
