<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\CreateCreditRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CreditsPost201Response;

class CreditApi extends BaseApi
{
    /**
     * POST to the credit resource to credit funds to a specified credit card.
     *
     * @param CreateCreditRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createCredit(CreateCreditRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/credits')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CreditsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CreditsPost502Response1Exception::class
                )
            )
            ->type(PtsV2CreditsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
