<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerShippingAddressException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressesListException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressesListException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressesListException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressesListException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressesListException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerShippingAddressException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersShippingAddressException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerShippingAddressException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerShippingAddressException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerShippingAddressException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerShippingAddressException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerShippingAddressException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetCustomerShippingAddressResponse;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomerShippingAddressRequest;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomersShippingAddressResponse;
use VisaAcceptanceMergedSpecLib\Models\PostCustomerShippingAddressRequest;
use VisaAcceptanceMergedSpecLib\Models\PostCustomerShippingAddressResponse;
use VisaAcceptanceMergedSpecLib\Models\ShippingAddressListForCustomer;

class CustomerShippingAddressApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Shipping Address**<br>A Customer Shipping Address represents tokenized customer shipping
     * information.<br>A [Customer](#token-management_customer_create-a-customer) can have [one or more
     * Shipping Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-
     * customer), with one allocated as the Customers default for use in payments.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Creating a Customer Shipping Address**<br>Your system can use this API to create an
     * existing Customers default or non default Shipping Address.<br>You can also create additional
     * Customer Shipping Addresses via the [Payments API](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-with-token-create_authorization-create-default-payment-
     * instrument-shipping-address-for-existing-customer_liveconsole-tab-request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param PostCustomerShippingAddressRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postCustomerShippingAddress(
        string $customerId,
        PostCustomerShippingAddressRequest $body,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/tms/v2/customers/{customerId}/shipping-addresses'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostCustomerShippingAddressException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostCustomerShippingAddressException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostCustomerShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostCustomerShippingAddressException41Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostCustomerShippingAddressException51Exception::class)
            )
            ->type(PostCustomerShippingAddressResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Shipping Address**<br>A Customer Shipping Address represents tokenized customer shipping
     * information.<br>A [Customer](#token-management_customer_create-a-customer) can have [one or more
     * Shipping Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-
     * customer), with one allocated as the Customers default for use in payments.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Retrieving all Customer Shipping Addresses**<br>Your system can use this API to
     * retrieve all existing Shipping Addresses for a Customer.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param int|null $offset Starting record in zero-based dataset that should be returned as the
     *        first object in the array. Default is 0.
     * @param int|null $limit The maximum number that can be returned in the array starting from the
     *        offset record in zero-based dataset. Default is 20, maximum is 100.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCustomerShippingAddressesList(
        string $customerId,
        ?string $profileId = null,
        ?int $offset = 0,
        ?int $limit = 20
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v2/customers/{customerId}/shipping-addresses'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetCustomerShippingAddressesListException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetCustomerShippingAddressesListException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetCustomerShippingAddressesListException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetCustomerShippingAddressesListException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetCustomerShippingAddressesListException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetCustomerShippingAddressesListException61Exception::class)
            )
            ->type(ShippingAddressListForCustomer::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Shipping Address**<br>A Customer Shipping Address represents tokenized customer shipping
     * information.<br>A [Customer](#token-management_customer_create-a-customer) can have [one or more
     * Shipping Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-
     * customer), with one allocated as the Customers default for use in payments.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Retrieving a Customer Shipping Address**<br>Your system can use this API to retrieve
     * an existing Shipping Address for a Customer.<br>To perform a payment with a particular Shipping
     * Address simply specify the [Shipping Address Id in the payments request](#payments_payments_process-
     * a-payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-customer-payment-
     * instrument-and-shipping-address-token-id_liveconsole-tab-request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $shippingAddressId The Id of a shipping address.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCustomerShippingAddress(
        string $customerId,
        string $shippingAddressId,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v2/customers/{customerId}/shipping-addresses/{shippingAddressId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('shippingAddressId', $shippingAddressId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetCustomerShippingAddressException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetCustomerShippingAddressException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetCustomerShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetCustomerShippingAddressException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetCustomerShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetCustomerShippingAddressException61Exception::class)
            )
            ->type(GetCustomerShippingAddressResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Shipping Address**<br>A Customer Shipping Address represents tokenized customer shipping
     * information.<br>A [Customer](#token-management_customer_create-a-customer) can have [one or more
     * Shipping Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-
     * customer), with one allocated as the Customers default for use in payments.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Updating a Customers Shipping Address**<br>Your system can use this API to update an
     * existing Shipping Addresses for a Customer, including selecting a [default Shipping Address](#token-
     * management_customer-shipping-address_update-a-customer-shipping-address_samplerequests-dropdown_make-
     * customer-shipping-address-the-default_liveconsole-tab-request-body) for use in payments.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $shippingAddressId The Id of a shipping address.
     * @param PatchCustomerShippingAddressRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param string|null $ifMatch Contains an ETag value from a GET request to make the request
     *        conditional.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchCustomersShippingAddress(
        string $customerId,
        string $shippingAddressId,
        PatchCustomerShippingAddressRequest $body,
        ?string $profileId = null,
        ?string $ifMatch = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/tms/v2/customers/{customerId}/shipping-addresses/{shippingAddressId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('shippingAddressId', $shippingAddressId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                HeaderParam::init('if-match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PatchCustomersShippingAddressException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PatchCustomersShippingAddressException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PatchCustomersShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PatchCustomersShippingAddressException41Exception::class
                )
            )
            ->throwErrorOn(
                '412',
                ErrorType::init(
                    'Precondition Failed: The If-Match request header value does not match the ' .
                    'current resources ETag',
                    PatchCustomersShippingAddressException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PatchCustomersShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PatchCustomersShippingAddressException71Exception::class)
            )
            ->type(PatchCustomersShippingAddressResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Shipping Address**<br>A Customer Shipping Address represents tokenized customer shipping
     * information.<br>A [Customer](#token-management_customer_create-a-customer) can have [one or more
     * Shipping Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-
     * customer), with one allocated as the Customers default for use in payments.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Deleting a Customers Shipping Address**<br>Your system can use this API to delete an
     * existing Shipping Address for a Customer.<br>If a customer has more than one Shipping Address then
     * the default Shipping Address cannot be deleted without first selecting a [new default Shipping
     * Address](#token-management_customer-shipping-address_update-a-customer-shipping-
     * address_samplerequests-dropdown_make-customer-shipping-address-the-default_liveconsole-tab-request-
     * body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $shippingAddressId The Id of a shipping address.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCustomerShippingAddress(
        string $customerId,
        string $shippingAddressId,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/tms/v2/customers/{customerId}/shipping-addresses/{shippingAddressId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('shippingAddressId', $shippingAddressId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    DeleteCustomerShippingAddressException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeleteCustomerShippingAddressException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeleteCustomerShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    DeleteCustomerShippingAddressException41Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeleteCustomerShippingAddressException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeleteCustomerShippingAddressException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', DeleteCustomerShippingAddressException71Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
