<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerPaymentInstrumentException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentsListException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentsListException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentsListException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentsListException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerPaymentInstrumentsListException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomersPaymentInstrumentException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerPaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetCustomerPaymentInstrumentResponse;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomerPaymentInstrumentRequest;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomersPaymentInstrumentResponse;
use VisaAcceptanceMergedSpecLib\Models\PaymentInstrumentList;
use VisaAcceptanceMergedSpecLib\Models\PostCustomerPaymentInstrumentRequest;
use VisaAcceptanceMergedSpecLib\Models\PostCustomerPaymentInstrumentResponse;

class CustomerPaymentInstrumentApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Payment Instrument**<br>A Customer Payment Instrument represents tokenized customer
     * payment information such as expiration date, billing address & card type.<br>A [Customer](#token-
     * management_customer_create-a-customer) can have [one or more Payment Instruments](#token-
     * management_customer-payment-instrument_retrieve-a-customer-payment-instrument), with one allocated
     * as the Customers default for use in payments.<br>A Payment Instrument token does not store the card
     * number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.
     * <br><br>**Creating a Customer Payment Instrument**<br>It is recommended you [create a Customer
     * Payment Instrument via a Payment Authorization](#payments_payments_process-a-payment_samplerequests-
     * dropdown_authorization-with-token-create_authorization-create-default-payment-instrument-shipping-
     * address-for-existing-customer_liveconsole-tab-request-body), this can be for a zero amount.<br>In
     * Europe: You should perform Payer Authentication alongside the Authorization.|&nbsp;&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;|**Payment Network Tokens**<br>Network tokens perform better than regular card numbers
     * and they are not necessarily invalidated when a cardholder loses their card, or it expires.<br>A
     * Payment Network Token will be automatically created and used in future payments if you are enabled
     * for the service.<br>A Payment Network Token can also be [provisioned for an existing Instrument
     * Identifier](#token-management_instrument-identifier_enroll-an-instrument-identifier-for-payment-
     * network-token).<br>For more information about Payment Network Tokens see the Developer Guide.
     * <br><br>**Payments with Customers Payment Instrument**<br>To perform a payment with a particular
     * Payment Instrument or Shipping Address specify the [Payment Instrument in the payment
     * request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-
     * tokens_authorization-with-customer-payment-instrument-and-shipping-address-token-id_liveconsole-tab-
     * request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param PostCustomerPaymentInstrumentRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postCustomerPaymentInstrument(
        string $customerId,
        PostCustomerPaymentInstrumentRequest $body,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/tms/v2/customers/{customerId}/payment-instruments'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostCustomerPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostCustomerPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostCustomerPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostCustomerPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostCustomerPaymentInstrumentException51Exception::class)
            )
            ->type(PostCustomerPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Payment Instrument**<br>A Customer Payment Instrument represents tokenized customer
     * payment information such as expiration date, billing address & card type.<br>A [Customer](#token-
     * management_customer_create-a-customer) can have [one or more Payment Instruments](#token-
     * management_customer-payment-instrument_retrieve-a-customer-payment-instrument), with one allocated
     * as the Customers default for use in payments.<br>A Payment Instrument token does not store the card
     * number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>|&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;&nbsp;|**Retrieving all Customer Payment Instruments**<br>Your system can use this
     * API to retrieve all existing Payment Instruments for a Customer.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param int|null $offset Starting record in zero-based dataset that should be returned as the
     *        first object in the array. Default is 0.
     * @param int|null $limit The maximum number that can be returned in the array starting from the
     *        offset record in zero-based dataset. Default is 20, maximum is 100.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCustomerPaymentInstrumentsList(
        string $customerId,
        ?string $profileId = null,
        ?int $offset = 0,
        ?int $limit = 20
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v2/customers/{customerId}/payment-instruments'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetCustomerPaymentInstrumentsListException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetCustomerPaymentInstrumentsListException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetCustomerPaymentInstrumentsListException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetCustomerPaymentInstrumentsListException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetCustomerPaymentInstrumentsListException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetCustomerPaymentInstrumentsListException61Exception::class)
            )
            ->type(PaymentInstrumentList::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Payment Instrument**<br>A Customer Payment Instrument represents tokenized customer
     * payment information such as expiration date, billing address & card type.<br>A [Customer](#token-
     * management_customer_create-a-customer) can have [one or more Payment Instruments](#token-
     * management_customer-payment-instrument_retrieve-a-customer-payment-instrument), with one allocated
     * as the Customers default for use in payments.<br>A Payment Instrument token does not store the card
     * number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>|&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;&nbsp;|**Retrieving a Customer Payment Instrument**<br>Your system can use this
     * API to retrieve an existing Payment Instrument for a Customer.<br>To perform a payment with a
     * particular Payment Instrument simply specify the [Payment Instrument Id in the payments
     * request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-
     * tokens_authorization-with-customer-payment-instrument-and-shipping-address-token-id_liveconsole-tab-
     * request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCustomerPaymentInstrument(
        string $customerId,
        string $paymentInstrumentId,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v2/customers/{customerId}/payment-instruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetCustomerPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetCustomerPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetCustomerPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetCustomerPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetCustomerPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetCustomerPaymentInstrumentException61Exception::class)
            )
            ->type(GetCustomerPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Payment Instrument**<br>A Customer Payment Instrument represents tokenized customer
     * payment information such as expiration date, billing address & card type.<br>A [Customer](#token-
     * management_customer_create-a-customer) can have [one or more Payment Instruments](#token-
     * management_customer-payment-instrument_retrieve-a-customer-payment-instrument), with one allocated
     * as the Customers default for use in payments.<br>A Payment Instrument token does not store the card
     * number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>|&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;&nbsp;|**Updating a Customers Payment Instrument**<br>Your system can use this API
     * to update an existing Payment Instrument for a Customer, including selecting a [default Payment
     * Instrument](#token-management_customer-payment-instrument_update-a-customer-payment-
     * instrument_samplerequests-dropdown_make-customer-payment-instrument-the-default_liveconsole-tab-
     * request-body) for use in payments.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param PatchCustomerPaymentInstrumentRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param string|null $ifMatch Contains an ETag value from a GET request to make the request
     *        conditional.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchCustomersPaymentInstrument(
        string $customerId,
        string $paymentInstrumentId,
        PatchCustomerPaymentInstrumentRequest $body,
        ?string $profileId = null,
        ?string $ifMatch = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/tms/v2/customers/{customerId}/payment-instruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                HeaderParam::init('if-match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PatchCustomersPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PatchCustomersPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PatchCustomersPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PatchCustomersPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '412',
                ErrorType::init(
                    'Precondition Failed: The If-Match request header value does not match the ' .
                    'current resources ETag',
                    PatchCustomersPaymentInstrumentException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PatchCustomersPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PatchCustomersPaymentInstrumentException71Exception::class)
            )
            ->type(PatchCustomersPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customer Payment Instrument**<br>A Customer Payment Instrument represents tokenized customer
     * payment information such as expiration date, billing address & card type.<br>A [Customer](#token-
     * management_customer_create-a-customer) can have [one or more Payment Instruments](#token-
     * management_customer-payment-instrument_retrieve-a-customer-payment-instrument), with one allocated
     * as the Customers default for use in payments.<br>A Payment Instrument token does not store the card
     * number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>|&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;&nbsp;|**Deleting a Customers Payment Instrument**<br>Your system can use this API
     * to delete an existing Payment Instrument for a Customer.<br>Any Instrument Identifiers representing
     * the card number will also be deleted if they are not associated with any other Payment Instruments.
     * <br>If a customer has more than one Payment Instrument then the default Payment Instrument cannot be
     * deleted without first selecting a [new default Payment Instrument](#token-management_customer-
     * payment-instrument_update-a-customer-payment-instrument_samplerequests-dropdown_make-customer-
     * payment-instrument-the-default_liveconsole-tab-request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCustomerPaymentInstrument(
        string $customerId,
        string $paymentInstrumentId,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/tms/v2/customers/{customerId}/payment-instruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    DeleteCustomerPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeleteCustomerPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeleteCustomerPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    DeleteCustomerPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeleteCustomerPaymentInstrumentException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeleteCustomerPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', DeleteCustomerPaymentInstrumentException71Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
