<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteCustomerException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetCustomerException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchCustomerException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostCustomerException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetCustomerResponse;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomerRequest;
use VisaAcceptanceMergedSpecLib\Models\PatchCustomerResponse;
use VisaAcceptanceMergedSpecLib\Models\PostCustomerRequest;
use VisaAcceptanceMergedSpecLib\Models\TmsV2CustomersResponse;

class CustomerApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customers**<br>A Customer represents your tokenized customer information.<br>You should associate
     * the Customer Id with the customer account on your systems.<br>A Customer can have one or more
     * [Payment Instruments](#token-management_customer-payment-instrument_create-a-customer-payment-
     * instrumentl) or [Shipping Addresses](#token-management_customer-shipping-address_create-a-customer-
     * shipping-address) with one allocated as the Customers default.<br><br>**Creating a Customer**<br>It
     * is recommended you [create a Customer via a Payment Authorization](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-with-token-create_authorization-with-customer-token-
     * creation_liveconsole-tab-request-body), this can be for a zero amount.<br>The Customer will be
     * created with a Payment Instrument and Shipping Address.<br>You can also [add additional Payment
     * Instruments to a Customer via a Payment Authorization](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-with-token-create_authorization-create-default-payment-
     * instrument-shipping-address-for-existing-customer_liveconsole-tab-request-body).<br>In Europe: You
     * should perform Payer Authentication alongside the Authorization.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     * |**Payment Network Tokens**<br>Network tokens perform better than regular card numbers and they are
     * not necessarily invalidated when a cardholder loses their card, or it expires.<br>A Payment Network
     * Token will be automatically created and used in future payments if you are enabled for the service.
     * <br>A Payment Network Token can also be [provisioned for an existing Instrument Identifier](#token-
     * management_instrument-identifier_enroll-an-instrument-identifier-for-payment-network-token).<br>For
     * more information about Payment Network Tokens see the Developer Guide.<br><br>**Payments with
     * Customers**<br>To perform a payment with the Customers default details specify the [Customer Id in
     * the payments request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-
     * using-tokens_authorization-with-customer-token-id_liveconsole-tab-request-body).<br>To perform a
     * payment with a particular Payment Instrument or Shipping Address <br>specify the [Payment Instrument
     * or Shipping Address Ids in the payments request](#payments_payments_process-a-payment_samplerequests-
     * dropdown_authorization-using-tokens_authorization-with-customer-payment-instrument-and-shipping-
     * address-token-id_liveconsole-tab-request-body).
     * The availability of API features for a merchant may depend on the portfolio configuration and may
     * need to be enabled at the portfolio level before they can be added to merchant accounts.
     *
     *
     * @param PostCustomerRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postCustomer(PostCustomerRequest $body, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/tms/v2/customers')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostCustomerException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostCustomerException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostCustomerException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostCustomerException41Exception::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Unexpected error.', PostCustomerException51Exception::class))
            ->type(TmsV2CustomersResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customers**<br>A Customer represents your tokenized customer information.<br>You should associate
     * the Customer Id with the customer account on your systems.<br>A Customer can have one or more
     * [Payment Instruments](#token-management_customer-payment-instrument_create-a-customer-payment-
     * instrumentl) or [Shipping Addresses](#token-management_customer-shipping-address_create-a-customer-
     * shipping-address) with one allocated as the Customers default.<br><br>**Retrieving a
     * Customer**<br>When your customer signs into their account, your system can use this API to retrieve
     * the Customers default Payment Instrument and Shipping Address.<br>**Note: the actual card data will
     * be masked.**<br>If your customer wants to see other available Payment Instruments, your system can
     * [retrieve all Payment Instruments](#token-management_customer-payment-instrument_list-payment-
     * instruments-for-a-customer) associated with the Customer.<br>The same applies to [Shipping
     * Addresses](#token-management_customer-shipping-address_list-shipping-addresses-for-a-customer).
     * |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Network Tokens**<br>Network tokens perform better
     * than regular card numbers and they are not necessarily invalidated when a cardholder loses their
     * card, or it expires.<br>A Payment Network Token will be automatically created and used in future
     * payments if you are enabled for the service.<br>A Payment Network Token can also be [provisioned for
     * an existing Instrument Identifier](#token-management_instrument-identifier_enroll-an-instrument-
     * identifier-for-payment-network-token).<br>For more information about Payment Network Tokens see the
     * Developer Guide.<br><br>**Payments with Customers**<br>To perform a payment with the Customers
     * default details specify the [Customer Id in the payments request](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-customer-token-
     * id_liveconsole-tab-request-body).<br>To perform a payment with a particular Payment Instrument or
     * Shipping Address <br>specify the [Payment Instrument or Shipping Address Ids in the payments
     * request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-
     * tokens_authorization-with-customer-payment-instrument-and-shipping-address-token-id_liveconsole-tab-
     * request-body).
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCustomer(string $customerId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tms/v2/customers/{customerId}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetCustomerException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetCustomerException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetCustomerException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetCustomerException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetCustomerException31Exception::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Unexpected error.', GetCustomerException61Exception::class))
            ->type(GetCustomerResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customers**<br>A Customer represents your tokenized customer information.<br>You should associate
     * the Customer Id with the customer account on your systems.<br>A Customer can have one or more
     * [Payment Instruments](#token-management_customer-payment-instrument_create-a-customer-payment-
     * instrumentl) or [Shipping Addresses](#token-management_customer-shipping-address_create-a-customer-
     * shipping-address) with one allocated as the Customers default.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     * |**Updating a Customer**<br>Your system can use this API to update a Customers details including
     * selecting a  [default Payment Instrument](#token-management_customer_update-a-
     * customer_samplerequests-dropdown_update-customers-default-payment-instrument_liveconsole-tab-request-
     * body) or [default Shipping Address](#token-management_customer_update-a-customer_samplerequests-
     * dropdown_update-customers-default-shipping-address_liveconsole-tab-request-body) for use in payments.
     * <br>Note: Updating a Customers [Payment Instrument](#token-management_customer-payment-
     * instrument_update-a-customer-payment-instrument) or [Shipping Address](#token-management_customer-
     * shipping-address_update-a-customer-shipping-address) details is performed using their own dedicated
     * API resources.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param PatchCustomerRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param string|null $ifMatch Contains an ETag value from a GET request to make the request
     *        conditional.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchCustomer(
        string $customerId,
        PatchCustomerRequest $body,
        ?string $profileId = null,
        ?string $ifMatch = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/tms/v2/customers/{customerId}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                HeaderParam::init('if-match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PatchCustomerException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PatchCustomerException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PatchCustomerException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PatchCustomerException41Exception::class
                )
            )
            ->throwErrorOn(
                '412',
                ErrorType::init(
                    'Precondition Failed: The If-Match request header value does not match the ' .
                    'current resources ETag',
                    PatchCustomerException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PatchCustomerException31Exception::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Unexpected error.', PatchCustomerException71Exception::class))
            ->type(PatchCustomerResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Customers**<br>A Customer represents your tokenized customer information.<br>You should associate
     * the Customer Id with the customer account on your systems.<br>A Customer can have one or more
     * [Payment Instruments](#token-management_customer-payment-instrument_create-a-customer-payment-
     * instrumentl) or [Shipping Addresses](#token-management_customer-shipping-address_create-a-customer-
     * shipping-address) with one allocated as the Customers default.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     * |**Deleting a Customer**<br>Your system can use this API to delete a complete Customer.<br>When a
     * Customer is deleted all associated Payment Instruments & Shipping Addresses are deleted.<br>Any
     * Instrument Identifiers representing the card number will also be deleted if they are not associated
     * with any other Payment Instruments.<br>Note: Individual [Payment Instruments](#token-
     * management_customer-payment-instrument_delete-a-customer-payment-instrument) or [Shipping
     * Addresses](#token-management_customer-shipping-address_delete-a-customer-shipping-address) can be
     * deleted via their own dedicated API resources.
     *
     *
     * @param string $customerId The Id of a Customer.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCustomer(string $customerId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/tms/v2/customers/{customerId}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('customerId', $customerId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    DeleteCustomerException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeleteCustomerException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeleteCustomerException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeleteCustomerException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeleteCustomerException31Exception::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Unexpected error.', DeleteCustomerException61Exception::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
