<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteInstrumentIdentifierException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteInstrumentIdentifierException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteInstrumentIdentifierException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteInstrumentIdentifierException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteInstrumentIdentifierException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierPaymentInstrumentsListException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierPaymentInstrumentsListException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierPaymentInstrumentsListException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierPaymentInstrumentsListException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetInstrumentIdentifierPaymentInstrumentsListException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchInstrumentIdentifierException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierEnrollmentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierEnrollmentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierEnrollmentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierEnrollmentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierEnrollmentException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostInstrumentIdentifierException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetInstrumentIdentifierResponse;
use VisaAcceptanceMergedSpecLib\Models\PatchInstrumentIdentifierRequest;
use VisaAcceptanceMergedSpecLib\Models\PatchInstrumentIdentifierResponse;
use VisaAcceptanceMergedSpecLib\Models\PaymentInstrumentList;
use VisaAcceptanceMergedSpecLib\Models\PostInstrumentIdentifierEnrollmentRequest;
use VisaAcceptanceMergedSpecLib\Models\PostInstrumentIdentifierRequest;
use VisaAcceptanceMergedSpecLib\Models\PostInstrumentIdentifierResponse;

class InstrumentIdentifierApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing and account number.<br>The same token Id is returned for a
     * specific card number or bank account & routing number allowing the Instrument Identifier Id to be
     * used for cross-channel payment tracking.<br>An Instrument Identifier can exist independently but
     * also be associated with a [Customer Payment Instrument](#token-management_customer-payment-
     * instrument_create-a-customer-payment-instrument) or [Standalone Payment Instrument](#token-
     * management_payment-instrument_create-a-payment-instrument).<br><br>**Creating an Instrument
     * Identifier**<br>It is recommended you [create an Instrument Identifier via a Payment
     * Authorization](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-with-token-
     * create_authorization-with-instrument-identifier-token-creation_liveconsole-tab-request-body), this
     * can be for a zero amount.<br>An Instrument Identifier will also be created if you [create a Customer
     * via a Payment Authorization](#payments_payments_process-a-payment_samplerequests-
     * dropdown_authorization-with-token-create_authorization-with-customer-token-creation_liveconsole-tab-
     * request-body)<br>In Europe: You should perform Payer Authentication alongside the Authorization.
     * |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Network Tokens**<br>Network tokens perform better
     * than regular card numbers and they are not necessarily invalidated when a cardholder loses their
     * card, or it expires.<br>A Payment Network Token will be automatically created and used in future
     * payments if you are enabled for the service.<br>A Payment Network Token can also be [provisioned for
     * an existing Instrument Identifier](#token-management_instrument-identifier_enroll-an-instrument-
     * identifier-for-payment-network-token).<br>For more information about Payment Network Tokens see the
     * Developer Guide.<br><br>**Payments with Instrument Identifiers**<br>To perform a payment with an
     * Instrument Identifier simply specify the [Instrument Identifier Id in the payments request along
     * with the expiration date, card type, & billing address](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-instrument-identifier-
     * token-id_liveconsole-tab-request-body).<br>When an Instrument Identifier is used in a payment the
     * **_previousTransactionId_** and **_originalAuthorizedAmount_** values are automatically recorded.
     * <br>These values will be added for you to future Merchant Initiated Transaction payments.
     *
     *
     * @param PostInstrumentIdentifierRequest $body Specify either a Card, Bank Account or
     *        Enrollable Card
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     *
     * @return ApiResponse Response from the API call
     */
    public function postInstrumentIdentifier(
        PostInstrumentIdentifierRequest $body,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/tms/v1/instrumentidentifiers')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostInstrumentIdentifierException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostInstrumentIdentifierException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostInstrumentIdentifierException41Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostInstrumentIdentifierException51Exception::class)
            )
            ->type(PostInstrumentIdentifierResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing and account number.<br>The same token Id is returned for a
     * specific card number or bank account & routing number allowing the Instrument Identifier Id to be
     * used for cross-channel payment tracking.<br>An Instrument Identifier can exist independently but
     * also be associated with a [Customer Payment Instrument](#token-management_customer-payment-
     * instrument_create-a-customer-payment-instrument) or [Standalone Payment Instrument](#token-
     * management_payment-instrument_create-a-payment-instrument).<br><br>**Retrieving an Instrument
     * Identifier**<br>Your system can use this API to retrieve an Instrument Identifier.<br>**Note: the
     * actual card data will be masked.**<br>The Instrument Identifier will also be returned when
     * retrieving a [Customer](#token-management_customer_retrieve-a-customer), [Customer Payment
     * Instrument](#token-management_customer-payment-instrument_retrieve-a-customer-payment-instrument) or
     * [Standalone Payment Instrument](#token-management_payment-instrument_retrieve-a-payment-instrument).
     * |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Network Tokens**<br>Network tokens perform better
     * than regular card numbers and they are not necessarily invalidated when a cardholder loses their
     * card, or it expires.<br>A Payment Network Token will be automatically created and used in future
     * payments if you are enabled for the service.<br>A Payment Network Token can also be [provisioned for
     * an existing Instrument Identifier](#token-management_instrument-identifier_enroll-an-instrument-
     * identifier-for-payment-network-token).<br>For more information about Payment Network Tokens see the
     * Developer Guide.<br><br>**Payments with Instrument Identifiers**<br>To perform a payment with an
     * Instrument Identifier simply specify the [Instrument Identifier Id in the payments request along
     * with the expiration date, card type, & billing address](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-instrument-identifier-
     * token-id_liveconsole-tab-request-body).<br>When an Instrument Identifier is used in a payment the
     * **_previousTransactionId_** and **_originalAuthorizedAmount_** values are automatically recorded.
     * <br>These values will be added for you to future Merchant Initiated Transaction payments.
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     *
     * @return ApiResponse Response from the API call
     */
    public function getInstrumentIdentifier(
        string $instrumentIdentifierId,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v1/instrumentidentifiers/{instrumentIdentifierId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetInstrumentIdentifierException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetInstrumentIdentifierException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetInstrumentIdentifierException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetInstrumentIdentifierException61Exception::class)
            )
            ->type(GetInstrumentIdentifierResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing and account number.<br>The same token Id is returned for a
     * specific card number or bank account & routing number allowing the Instrument Identifier Id to be
     * used for cross-channel payment tracking.<br>An Instrument Identifier can exist independently but
     * also be associated with a [Customer Payment Instrument](#token-management_customer-payment-
     * instrument_create-a-customer-payment-instrument) or [Standalone Payment Instrument](#token-
     * management_payment-instrument_create-a-payment-instrument).|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     * |**Updating an Instrument Identifier**<br>When an Instrument Identifier is used in a payment the
     * **_previousTransactionId_** and **_originalAuthorizedAmount_** values are automatically recorded.
     * <br>These values will be added for you to future Merchant Initiated Transaction payments.<br>Your
     * system can use this API to update these values.
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param PatchInstrumentIdentifierRequest $body Specify the previous transaction Id to update.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     * @param string|null $ifMatch Contains an ETag value from a GET request to make the request
     *        conditional.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchInstrumentIdentifier(
        string $instrumentIdentifierId,
        PatchInstrumentIdentifierRequest $body,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null,
        ?string $ifMatch = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/tms/v1/instrumentidentifiers/{instrumentIdentifierId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails),
                HeaderParam::init('if-match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PatchInstrumentIdentifierException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PatchInstrumentIdentifierException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PatchInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PatchInstrumentIdentifierException41Exception::class
                )
            )
            ->throwErrorOn(
                '412',
                ErrorType::init(
                    'Precondition Failed: The If-Match request header value does not match the ' .
                    'current resources ETag',
                    PatchInstrumentIdentifierException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PatchInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PatchInstrumentIdentifierException71Exception::class)
            )
            ->type(PatchInstrumentIdentifierResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing <br>and account numbers.<br>The same token Id is returned
     * for a specific card number or bank account & routing number allowing the <br>Instrument Identifier
     * Id to be used for cross-channel payment tracking.<br>An Instrument Identifier can exist
     * independently but also be associated with a [Customer Payment Instrument](#token-management_customer-
     * payment-instrument_create-a-customer-payment-instrument) <br>or [Standalone Payment
     * Instrument](#token-management_payment-instrument_create-a-payment-instrument).|&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;|**Deleting an Instrument Identifier**<br>Your system can use this API to delete
     * an existing Instrument Identifier.<br>An Instrument Identifier cannot be deleted if it is linked to
     * any Payment Instruments.<br>You can [retrieve all Payment Instruments associated with an Instrument
     * Identifier](#token-management_instrument-identifier_list-payment-instruments-for-an-instrument-
     * identifier).
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteInstrumentIdentifier(string $instrumentIdentifierId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/tms/v1/instrumentidentifiers/{instrumentIdentifierId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeleteInstrumentIdentifierException1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeleteInstrumentIdentifierException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    DeleteInstrumentIdentifierException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeleteInstrumentIdentifierException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeleteInstrumentIdentifierException21Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', DeleteInstrumentIdentifierException61Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing <br>and account numbers.<br>The same token Id is returned
     * for a specific card number or bank account & routing number allowing the <br>Instrument Identifier
     * Id to be used for cross-channel payment tracking.<br>An Instrument Identifier can exist
     * independently but also be associated with a [Customer Payment Instrument](#token-management_customer-
     * payment-instrument_create-a-customer-payment-instrument) <br>or [Standalone Payment
     * Instrument](#token-management_payment-instrument_create-a-payment-instrument).|&nbsp;&nbsp;&nbsp;
     * &nbsp;&nbsp;&nbsp;|**Retrieving all Payment Instruments associated with an Instrument
     * Identifier**<br>Your system can use this API to retrieve all Payment Instruments linked to an
     * Instrument Identifier.
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     * @param int|null $offset Starting record in zero-based dataset that should be returned as the
     *        first object in the array. Default is 0.
     * @param int|null $limit The maximum number that can be returned in the array starting from the
     *        offset record in zero-based dataset. Default is 20, maximum is 100.
     *
     * @return ApiResponse Response from the API call
     */
    public function getInstrumentIdentifierPaymentInstrumentsList(
        string $instrumentIdentifierId,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null,
        ?int $offset = 0,
        ?int $limit = 20
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v1/instrumentidentifiers/{instrumentIdentifierId}/paymentinstruments'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetInstrumentIdentifierPaymentInstrumentsListException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetInstrumentIdentifierPaymentInstrumentsListException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetInstrumentIdentifierPaymentInstrumentsListException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetInstrumentIdentifierPaymentInstrumentsListException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetInstrumentIdentifierPaymentInstrumentsListException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Unexpected error.',
                    GetInstrumentIdentifierPaymentInstrumentsListException61Exception::class
                )
            )
            ->type(PaymentInstrumentList::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Instrument Identifiers**<br>An Instrument Identifier represents either a card number, or in the
     * case of an ACH bank account, the routing and account number.<br>The same token Id is returned for a
     * specific card number or bank account & routing number allowing the Instrument Identifier Id to be
     * used for cross-channel payment tracking.<br>An Instrument Identifier can exist independently but
     * also be associated with a [Customer Payment Instrument](#token-management_customer-payment-
     * instrument_create-a-customer-payment-instrument) or [Standalone Payment Instrument](#token-
     * management_payment-instrument_create-a-payment-instrument).|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     * |**Enroll an Instrument Identifier for a Payment Network Token**<br>Your system can use this API to
     * provision a Network token for an existing Instrument Identifier.<br>Network tokens perform better
     * than regular card numbers and they are not necessarily invalidated when a cardholder loses their
     * card, or it expires.<br>A Network token can be [provisioned when creating an Instrument
     * Identifier](#token-management_instrument-identifier_create-an-instrument-identifier_samplerequests-
     * dropdown_create-instrument-identifier-card-enroll-for-network-token_liveconsole-tab-request-body).
     * This will occur automatically when creating a [Customer](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-with-token-create_authorization-with-customer-token-
     * creation_liveconsole-tab-request-body), [Payment Instrument](#payments_payments_process-a-
     * payment_samplerequests-dropdown_authorization-with-token-create_authorization-create-default-payment-
     * instrument-shipping-address-for-existing-customer_liveconsole-tab-request-body) or [Instrument
     * Identifier](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-with-token-
     * create_authorization-with-instrument-identifier-token-creation_liveconsole-tab-request-body) via the
     * Payments API.<br>For more information about Payment Network Tokens see the Developer Guide.
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param PostInstrumentIdentifierEnrollmentRequest $body Specify Enrollable Card details
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postInstrumentIdentifierEnrollment(
        string $instrumentIdentifierId,
        PostInstrumentIdentifierEnrollmentRequest $body,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/tms/v1/instrumentidentifiers/{instrumentIdentifierId}/enrollment'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostInstrumentIdentifierEnrollmentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostInstrumentIdentifierEnrollmentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PostInstrumentIdentifierEnrollmentException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PostInstrumentIdentifierEnrollmentException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostInstrumentIdentifierEnrollmentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostInstrumentIdentifierEnrollmentException61Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
