<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreateOrderPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreateOrderPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2UpdateOrderPatch400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2UpdateOrderPatch502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\CreateOrderRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CreateOrderPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2UpdateOrderPatch201Response;
use VisaAcceptanceMergedSpecLib\Models\UpdateOrderRequest;

class OrdersApi extends BaseApi
{
    /**
     * A create order request enables you to send the itemized details along with the order. This API can
     * be used by merchants initiating their transactions with the create order API.
     *
     *
     * @param CreateOrderRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createOrder(CreateOrderRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/intents')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CreateOrderPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CreateOrderPost502Response1Exception::class
                )
            )
            ->type(PtsV2CreateOrderPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API can be used in two flavours - for updating the order as well as saving the order.
     *
     *
     * @param string $id The ID returned from the original create order response.
     * @param UpdateOrderRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateOrder(string $id, UpdateOrderRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/pts/v2/intents/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2UpdateOrderPatch400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2UpdateOrderPatch502Response1Exception::class
                )
            )
            ->type(PtsV2UpdateOrderPatch201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
