<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2RetrievePaymentTokenGet400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2RetrievePaymentTokenGet502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\Request;
use VisaAcceptanceMergedSpecLib\Models\RetrieveOrDeletePaymentTokenResponse;

class PaymentTokensApi extends BaseApi
{
    /**
     * This API can be used in two flavours - for retrieval or deletion of vault id.
     *
     *
     * @param Request $body
     *
     * @return ApiResponse Response from the API call
     */
    public function retrieveOrDeletePaymentToken(Request $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payment-tokens')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2RetrievePaymentTokenGet400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init('Internal server error.', PtsV2RetrievePaymentTokenGet502Response1Exception::class)
            )
            ->type(RetrieveOrDeletePaymentTokenResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
