<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeletePaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeletePaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeletePaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeletePaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetPaymentInstrumentException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PatchPaymentInstrumentException71Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostPaymentInstrumentException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostPaymentInstrumentException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostPaymentInstrumentException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostPaymentInstrumentException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostPaymentInstrumentException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetPaymentInstrumentResponse;
use VisaAcceptanceMergedSpecLib\Models\PatchPaymentInstrumentRequest;
use VisaAcceptanceMergedSpecLib\Models\PatchPaymentInstrumentResponse;
use VisaAcceptanceMergedSpecLib\Models\PostPaymentInstrumentRequest;
use VisaAcceptanceMergedSpecLib\Models\PostPaymentInstrumentResponse;

class PaymentInstrumentApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Standalone Payment Instruments**<br>A Payment Instrument represents tokenized payment information
     * such as expiration date, billing address & card type.<br>A Payment Instrument token does not store
     * the card number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>**Standalone
     * Payment Instruments do not belong to a [Customer](#token-management_customer_create-a-customer).
     * **<br><br>**Creating a Payment Instrument**<br>It is recommended you [create a Payment Instrument
     * via a Payment Authorization](#payments_payments_process-a-payment_samplerequests-
     * dropdown_authorization-with-token-create_authorization-with-customer-token-creation_liveconsole-tab-
     * request-body), this can be for a zero amount.<br>In Europe: You should perform Payer Authentication
     * alongside the Authorization.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Network
     * Tokens**<br>Network tokens perform better than regular card numbers and they are not necessarily
     * invalidated when a cardholder loses their card, or it expires.<br>A Payment Network Token will be
     * automatically created and used in future payments if you are enabled for the service.<br>A Payment
     * Network Token can also be [provisioned for an existing Instrument Identifier](#token-
     * management_instrument-identifier_enroll-an-instrument-identifier-for-payment-network-token).<br>For
     * more information about Payment Network Tokens see the Developer Guide.<br><br>**Payments with
     * Payment Instruments**<br>To perform a payment with a particular Payment Instrument specify the
     * [Payment Instrument in the payment request](#payments_payments_process-a-payment_samplerequests-
     * dropdown_authorization-using-tokens_authorization-with-customer-payment-instrument-and-shipping-
     * address-token-id_liveconsole-tab-request-body).
     *
     *
     * @param PostPaymentInstrumentRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentInstrument(
        PostPaymentInstrumentRequest $body,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/tms/v1/paymentinstruments')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostPaymentInstrumentException51Exception::class)
            )
            ->type(PostPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Standalone Payment Instruments**<br>A Payment Instrument represents tokenized payment information
     * such as expiration date, billing address & card type.<br>A Payment Instrument token does not store
     * the card number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>**Standalone
     * Payment Instruments do not belong to a [Customer](#token-management_customer_create-a-customer).
     * **|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Retrieving a Payment Instrument**<br>Your system can use
     * this API to retrieve an existing Payment Instrument.<br>To perform a payment with a particular
     * Payment Instrument simply specify the [Payment Instrument Id in the payments
     * request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-
     * tokens_authorization-with-customer-payment-instrument-and-shipping-address-token-id_liveconsole-tab-
     * request-body).
     *
     *
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     *
     * @return ApiResponse Response from the API call
     */
    public function getPaymentInstrument(
        string $paymentInstrumentId,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v1/paymentinstruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    GetPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetPaymentInstrumentException61Exception::class)
            )
            ->type(GetPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Standalone Payment Instruments**<br>A Payment Instrument represents tokenized payment information
     * such as expiration date, billing address & card type.<br>A Payment Instrument token does not store
     * the card number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>**Standalone
     * Payment Instruments do not belong to a [Customer](#token-management_customer_create-a-customer).
     * **|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Updating a Payment Instrument**<br>Your system can use
     * this API to update an existing Payment Instrument.
     *
     *
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param PatchPaymentInstrumentRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     * @param bool|null $retrieveBinDetails Retrieve the Bin Details of PAN or network token
     * @param string|null $ifMatch Contains an ETag value from a GET request to make the request
     *        conditional.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchPaymentInstrument(
        string $paymentInstrumentId,
        PatchPaymentInstrumentRequest $body,
        ?string $profileId = null,
        ?bool $retrieveBinDetails = null,
        ?string $ifMatch = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/tms/v1/paymentinstruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId),
                QueryParam::init('retrieveBinDetails', $retrieveBinDetails),
                HeaderParam::init('if-match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PatchPaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PatchPaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    PatchPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    PatchPaymentInstrumentException41Exception::class
                )
            )
            ->throwErrorOn(
                '412',
                ErrorType::init(
                    'Precondition Failed: The If-Match request header value does not match the ' .
                    'current resources ETag',
                    PatchPaymentInstrumentException51Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PatchPaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PatchPaymentInstrumentException71Exception::class)
            )
            ->type(PatchPaymentInstrumentResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Standalone Payment Instruments**<br>A Payment Instrument represents tokenized payment information
     * such as expiration date, billing address & card type.<br>A Payment Instrument token does not store
     * the card number. A Payment Instrument is associated with an [Instrument Identifier](#token-
     * management_instrument-identifier_create-an-instrument-identifier) that represents either a payment
     * card number, or in the case of an ACH bank account, the routing and account number.<br>**Standalone
     * Payment Instruments do not belong to a [Customer](#token-management_customer_create-a-customer).
     * **|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Deleting a Payment Instrument**<br>Your system can use
     * this API to delete an existing Payment Instrument.<br>Any Instrument Identifiers representing the
     * card number will also be deleted if they are not associated with any other Payment Instruments.
     *
     *
     * @param string $paymentInstrumentId The Id of a payment instrument.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deletePaymentInstrument(string $paymentInstrumentId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/tms/v1/paymentinstruments/{paymentInstrumentId}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeletePaymentInstrumentException1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeletePaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeletePaymentInstrumentException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeletePaymentInstrumentException21Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', DeletePaymentInstrumentException51Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
