<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2IncrementalAuthorizationPatch400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2IncrementalAuthorizationPatch502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsPost400Response11Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsPost502Response11Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\CreatePaymentRequest;
use VisaAcceptanceMergedSpecLib\Models\CreateSessionReq;
use VisaAcceptanceMergedSpecLib\Models\CreateSessionRequest;
use VisaAcceptanceMergedSpecLib\Models\IncrementAuthRequest;
use VisaAcceptanceMergedSpecLib\Models\OrderPaymentRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2IncrementalAuthorizationPatch201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsOrderPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsPost201Response1;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsPost201Response2;
use VisaAcceptanceMergedSpecLib\Models\RefreshPaymentStatusRequest;

class PaymentsApi extends BaseApi
{
    /**
     * A payment authorizes the amount for the transaction. There are a number of supported payment
     * features, such as E-commerce and Card Present - Credit Card/Debit Card, Echeck, e-Wallets, Level
     * II/III Data, etc..
     *
     * A payment response includes the status of the request. It also includes processor-specific
     * information when the request is successful and errors if unsuccessful. See the [Payments Developer
     * Guides Page](
     *
     * Authorization can be requested with Capture, Decision Manager, Payer Authentication(3ds), and Token
     * Creation.
     *
     *
     * @param CreatePaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createPayment(CreatePaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payments')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid request.'))
            ->throwErrorOn('502', ErrorType::init('Unexpected system error or system timeout.'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Use this service to authorize additional charges in a lodging or autorental transaction. Include the
     * ID returned from the original authorization in the PATCH request to add additional charges to that
     * authorization.
     *
     *
     * @param string $id The ID returned from the original authorization request.
     * @param IncrementAuthRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function incrementAuth(string $id, IncrementAuthRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/pts/v2/payments/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2IncrementalAuthorizationPatch400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2IncrementalAuthorizationPatch502Response1Exception::class
                )
            )
            ->type(PtsV2IncrementalAuthorizationPatch201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Checks and updates the payment status
     *
     *
     * @param string $id The payment id whose status needs to be checked and updated.
     * @param RefreshPaymentStatusRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function refreshPaymentStatus(string $id, RefreshPaymentStatusRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/refresh-payment-status/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsPost400Response11Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsPost502Response11Exception::class
                )
            )
            ->type(PtsV2PaymentsPost201Response1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a Payment Order Request
     *
     * @param string $id Request identifier number for the order request.
     * @param OrderPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createOrderRequest(string $id, OrderPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payment-references/{id}/intents')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsPost400Response11Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsPost502Response11Exception::class
                )
            )
            ->type(PtsV2PaymentsOrderPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create Alternative Payments Sessions Request
     *
     * @param CreateSessionReq $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createSessionRequest(CreateSessionReq $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payment-references')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsPost400Response11Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsPost502Response11Exception::class
                )
            )
            ->type(PtsV2PaymentsPost201Response2::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update Alternative Payments Sessions Request
     *
     * @param string $id The payment ID. This ID is returned from a previous payment request.
     * @param CreateSessionRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateSessionReq(string $id, CreateSessionRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/pts/v2/payment-references/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsPost400Response11Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsPost502Response11Exception::class
                )
            )
            ->type(PtsV2PaymentsPost201Response2::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
