<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CapturesRefundsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CapturesRefundsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsRefundPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsRefundPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CapturesRefundsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsRefundPost201Response;
use VisaAcceptanceMergedSpecLib\Models\RefundPaymentRequest;

class RefundApi extends BaseApi
{
    /**
     * Refund a Payment API is only used, if you have requested Authorization and Capture together in
     * [/pts/v2/payments]( API call. Include the payment ID in the POST request to refund the payment
     * amount.
     *
     *
     * @param string $id The payment ID. This ID is returned from a previous payment request.
     * @param RefundPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function refundPayment(string $id, RefundPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payments/{id}/refunds')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsRefundPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsRefundPost502Response1Exception::class
                )
            )
            ->type(PtsV2PaymentsRefundPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refund a capture API is only used, if you have requested Capture independenlty using
     * [/pts/v2/payments/{id}/captures]( API call. Include the capture ID in the POST request to refund the
     * captured amount.
     *
     *
     * @param string $id The capture ID. This ID is returned from a previous capture request.
     * @param RefundPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function refundCapture(string $id, RefundPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/captures/{id}/refunds')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CapturesRefundsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CapturesRefundsPost502Response1Exception::class
                )
            )
            ->type(PtsV2CapturesRefundsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
