<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsReversalsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsReversalsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2ReversalsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2ReversalsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\AuthReversalRequest;
use VisaAcceptanceMergedSpecLib\Models\MitReversalRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsReversalsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2ReversalsPost201Response;

class ReversalApi extends BaseApi
{
    /**
     * Include the payment ID in the POST request to reverse the payment amount.
     *
     * @param string $id The payment ID returned from a previous payment request.
     * @param AuthReversalRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function authReversal(string $id, AuthReversalRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payments/{id}/reversals')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsReversalsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsReversalsPost502Response1Exception::class
                )
            )
            ->type(PtsV2PaymentsReversalsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This is to reverse a previous payment that merchant does not receive a reply(Mostly due to Timeout).
     * To use this feature/API, make sure to pass unique value to field - clientReferenceInformation ->
     * transactionId in [/pts/v2/payments]( API call and use same transactionId in this API request payload
     * to reverse the payment.
     *
     * @param MitReversalRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function mitReversal(MitReversalRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/reversals')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2ReversalsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2ReversalsPost502Response1Exception::class
                )
            )
            ->type(PtsV2ReversalsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
