<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetCardArtAssetResponse;
use VisaAcceptanceMergedSpecLib\Models\PostPaymentCredentialsRequest;

class TokenApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Token**<br>A Token can represent your tokenized Customer, Payment Instrument or Instrument
     * Identifier information.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Credentials**<br>Contains
     * payment information such as the network token, generated cryptogram for Visa & MasterCard or dynamic
     * CVV for Amex in a JSON Web Encryption (JWE) response.<br>Your system can use this API to retrieve
     * the Payment Credentials for an existing Customer, Payment Instrument or Instrument Identifier.
     *
     *
     * @param string $tokenId The Id of a token representing a Customer, Payment Instrument or
     *        Instrument Identifier.
     * @param PostPaymentCredentialsRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postTokenPaymentCredentials(
        string $tokenId,
        PostPaymentCredentialsRequest $body,
        ?string $profileId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/tms/v2/tokens/{tokenId}/payment-credentials')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('tokenId', $tokenId)->required(),
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request: e.g. A required header value could be missing.'))
            ->throwErrorOn(
                '403',
                ErrorType::init('Forbidden: e.g. The profile might not have permission to perform the operation.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Token Not Found. The Id may not exist or was entered incorrectly.')
            )
            ->throwErrorOn('410', ErrorType::init('Token Not Available. The token has been deleted.'))
            ->throwErrorOn('500', ErrorType::init('Unexpected error.'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves Card Art for a specific Instrument Identifier. The Card Art is a visual representation of
     * the cardholder's payment card.
     * Card Art is only available if a Network Token is successfully provisioned.
     *
     *
     * @param string $instrumentIdentifierId The Id of an Instrument Identifier.
     * @param string $tokenProvider The token provider.
     * @param string $assetType The type of asset.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCardArtAsset(
        string $instrumentIdentifierId,
        string $tokenProvider,
        string $assetType
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/tms/v2/tokens/{instrumentIdentifierId}/{tokenProvider}/assets/{assetType}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('instrumentIdentifierId', $instrumentIdentifierId)->required(),
                TemplateParam::init('tokenProvider', $tokenProvider)->required(),
                TemplateParam::init('assetType', $assetType)->required()
            );

        $_resHandler = $this->responseHandler()->type(GetCardArtAssetResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
