<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteTokenizedCardException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteTokenizedCardException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteTokenizedCardException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteTokenizedCardException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\DeleteTokenizedCardException61Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetTokenizedCardException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetTokenizedCardException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetTokenizedCardException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\GetTokenizedCardException51Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostTokenizedCardException1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostTokenizedCardException21Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostTokenizedCardException31Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostTokenizedCardException41Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PostTokenizedCardException51Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GetTokenizedCardResponse;
use VisaAcceptanceMergedSpecLib\Models\PostTokenizedCardResponse;
use VisaAcceptanceMergedSpecLib\Models\TokenizedcardRequest;

class TokenizedCardApi extends BaseApi
{
    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Tokenized cards**<br>A Tokenized card represents a network token. Network tokens perform better
     * than regular card numbers and they are not necessarily invalidated when a cardholder loses their
     * card, or it expires.
     *
     *
     * @param TokenizedcardRequest $body
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postTokenizedCard(TokenizedcardRequest $body, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/tms/v2/tokenized-cards')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json;charset=utf-8'),
                BodyParam::init($body)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    PostTokenizedCardException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    PostTokenizedCardException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    PostTokenizedCardException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    PostTokenizedCardException41Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', PostTokenizedCardException51Exception::class)
            )
            ->type(PostTokenizedCardResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * |**Tokenized Cards**<br>A Tokenized Card represents a network token.
     * Network tokens perform better than regular card numbers and they are not necessarily invalidated
     * when a cardholder loses their card, or it expires.
     *
     *
     * @param string $tokenizedCardId The Id of a tokenized card.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function getTokenizedCard(string $tokenizedCardId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tms/v2/tokenized-cards/{tokenizedCardId}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('tokenizedCardId', $tokenizedCardId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request: e.g. A required header value could be missing.',
                    GetTokenizedCardException1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    GetTokenizedCardException21Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    GetTokenizedCardException31Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    GetTokenizedCardException31Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', GetTokenizedCardException51Exception::class)
            )
            ->type(GetTokenizedCardResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * |  |  |  |
     * | --- | --- | --- |
     * | The Network Token will attempt to be deleted from the card association and if successful the
     * corresponding TMS Network Token will be deleted.
     *
     *
     * @param string $tokenizedCardId The Id of a tokenized card.
     * @param string|null $profileId The Id of a profile containing user specific TMS configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteTokenizedCard(string $tokenizedCardId, ?string $profileId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/tms/v2/tokenized-cards/{tokenizedCardId}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('tokenizedCardId', $tokenizedCardId)->required(),
                HeaderParam::init('profile-id', $profileId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden: e.g. The profile might not have permission to perform the operation.',
                    DeleteTokenizedCardException1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Token Not Found. The Id may not exist or was entered incorrectly.',
                    DeleteTokenizedCardException21Exception::class
                )
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict. The token is linked to a Payment Instrument.',
                    DeleteTokenizedCardException31Exception::class
                )
            )
            ->throwErrorOn(
                '410',
                ErrorType::init(
                    'Token Not Available. The token has been deleted.',
                    DeleteTokenizedCardException41Exception::class
                )
            )
            ->throwErrorOn(
                '424',
                ErrorType::init(
                    'Failed Dependency: e.g. The profile represented by the profile-id may not ' .
                    'exist or the profile-id was entered incorrectly.',
                    DeleteTokenizedCardException21Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Unexpected error.', DeleteTokenizedCardException61Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
