<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;

class TransientTokenDataApi extends BaseApi
{
    /**
     * Retrieve the data captured by Unified Checkout. This API is used to retrieve the detailed data
     * represented by the Transient Token. This API will not return PCI payment data (PAN). Include the
     * Request ID in the GET request to retrieve the transaction details.
     *
     * @param string $transientToken Transient Token returned by the Unified Checkout application.
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransactionForTransientToken(string $transientToken): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/up/v1/payment-details/{transientToken}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(TemplateParam::init('transientToken', $transientToken)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('The specified resource not found in the system.'))
            ->throwErrorOn('500', ErrorType::init('Unexpected server error'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve the Payment data captured by Unified Checkout. This API is used to retrieve the detailed
     * data represented by the Transient Token. This API will return PCI payment data captured by the
     * Unified Checkout platform.
     *
     * @param string $paymentCredentialsReference The paymentCredentialsReference field contained
     *        within the Transient token returned from a successful Unified Checkout transaction
     *
     * @return ApiResponse Response from the API call
     */
    public function getPaymentCredentialsForTransientToken(string $paymentCredentialsReference): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/flex/v2/payment-credentials/{paymentCredentialsReference}'
        )
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('paymentCredentialsReference', $paymentCredentialsReference)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('The specified resource not found in the system.'))
            ->throwErrorOn('500', ErrorType::init('Unexpected server error'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
