<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet401Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet403Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet404Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet500Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV1TransactionBatchesGet502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\PtsV1TransactionBatchesGet200Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV1TransactionBatchesIdGet200Response;
use VisaAcceptanceMergedSpecLib\Utils\DateTimeHelper;

class TransactionBatchesApi extends BaseApi
{
    /**
     * Provide the date and time search range to get a list of Batch Files ready for settlement
     *
     * @param \DateTime $startTime Valid report Start Time in **ISO 8601 format** Please refer the
     *        following link to know more about ISO 8601 format.[Rfc Date Format](
     *
     *        **Example date format:**
     *        - yyyy-MM-dd'T'HH:mm:ss.SSSZZ
     * @param \DateTime $endTime Valid report End Time in **ISO 8601 format** Please refer the
     *        following link to know more about ISO 8601 format.[Rfc Date Format](
     *
     *        **Example date format:**
     *        - yyyy-MM-dd'T'HH:mm:ss.SSSZZ
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransactionBatches(\DateTime $startTime, \DateTime $endTime): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/pts/v1/transaction-batches')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                QueryParam::init('startTime', $startTime)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('endTime', $endTime)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad Request', PtsV1TransactionBatchesGet400Response1Exception::class)
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Not Authorized', PtsV1TransactionBatchesGet401Response1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('No Authenticated', PtsV1TransactionBatchesGet403Response1Exception::class)
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('No Reports Found', PtsV1TransactionBatchesGet404Response1Exception::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Bad Gateway', PtsV1TransactionBatchesGet500Response1Exception::class)
            )
            ->type(PtsV1TransactionBatchesGet200Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API provides details like upload date, completion date, transaction count and accepted and
     * rejected transaction count of the individual batch file using the batch id
     *
     * @param string $id The batch id assigned for the template.
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransactionBatchId(string $id): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/pts/v1/transaction-batches/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(TemplateParam::init('id', $id)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad Request', PtsV1TransactionBatchesGet400Response1Exception::class)
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Not Authorized', PtsV1TransactionBatchesGet401Response1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('No Authenticated', PtsV1TransactionBatchesGet403Response1Exception::class)
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('No Reports Found', PtsV1TransactionBatchesGet404Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init('Bad Gateway', PtsV1TransactionBatchesGet502Response1Exception::class)
            )
            ->type(PtsV1TransactionBatchesIdGet200Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Provides real-time detailed status information about the transactions that you previously uploaded
     * in the Business Center or processed with the Offline Transaction File Submission service.
     *
     *
     * @param string $id The batch id assigned for the template.
     * @param \DateTime|null $uploadDate Date in which the original batch file was uploaded. Date
     *        must be in ISO-8601 format.
     *        Please refer the following link to know more about ISO 8601 format.[Rfc Date
     *        Format](
     *        **Example date format:**
     *        - yyyy-MM-dd
     * @param string|null $status Allows you to filter by rejected response. Valid values: -
     *        Rejected
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransactionBatchDetails(
        string $id,
        ?\DateTime $uploadDate = null,
        ?string $status = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/pts/v1/transaction-batch-details/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                QueryParam::init('uploadDate', $uploadDate)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('status', $status)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request'))
            ->throwErrorOn('401', ErrorType::init('Not Authorized'))
            ->throwErrorOn('403', ErrorType::init('No Authenticated'))
            ->throwErrorOn('404', ErrorType::init('No Reports Found'))
            ->throwErrorOn('502', ErrorType::init('Bad Gateway'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
