<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\TssV2TransactionsGet200Response;

class TransactionDetailsApi extends BaseApi
{
    /**
     * Include the Request ID in the GET request to retrieve the transaction details.
     *
     * @param string $id Request ID.
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransaction(string $id): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tss/v2/transactions/{id}')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(TemplateParam::init('id', $id)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('The specified resource not found in the system.'))
            ->throwErrorOn('500', ErrorType::init('Unexpected server error'))
            ->type(TssV2TransactionsGet200Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
