<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\GenerateUnifiedCheckoutCaptureContextRequest;

class UnifiedCheckoutCaptureContextApi extends BaseApi
{
    /**
     * Unified Checkout is a powerful product within the Digital Acceptance Suite. Unified Checkout is
     * designed to assist merchants with the adoption and inclusion of digital payments within their
     * payment acceptance page. With Unified Checkout Integration you can add digital payment methods to
     * create familiar, convenient and seamless payment experiences that are designed to reduce checkout
     * friction and increase conversions.
     * Click to Pay Drop-in UI is built on the Unified Checkout platform.
     * For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page]( For
     * examples on how to integrate Unified Checkout within your webpage please see our [GitHub Unified
     * Checkout Samples](
     * Generate Unified Checkout Capture Context
     * Generate a one-time use capture context used for the invocation of Unified Checkout. The Request wil
     * contain all of the parameters for how Unified Checkout will operate within a client webpage. The
     * resulting payload will be a JWT signed object that can be used to initiate Unified Checkout or Click
     * to Pay Drop-in UI within a web page
     *
     * @param GenerateUnifiedCheckoutCaptureContextRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function generateUnifiedCheckoutCaptureContext(
        GenerateUnifiedCheckoutCaptureContextRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/up/v1/capture-contexts')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
