<?php

declare(strict_types=1);

/*
 * VisaAcceptanceMergedSpecLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VisaAcceptanceMergedSpecLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CapturesVoidsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CapturesVoidsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsVoidsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2CreditsVoidsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsVoidsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2PaymentsVoidsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2RefundsVoidsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2RefundsVoidsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2VoidsPost400Response1Exception;
use VisaAcceptanceMergedSpecLib\Exceptions\PtsV2VoidsPost502Response1Exception;
use VisaAcceptanceMergedSpecLib\Http\ApiResponse;
use VisaAcceptanceMergedSpecLib\Models\MitVoidRequest;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CapturesVoidsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2CreditsVoidsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2PaymentsVoidsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2RefundsVoidsPost201Response;
use VisaAcceptanceMergedSpecLib\Models\PtsV2VoidsPost200Response;
use VisaAcceptanceMergedSpecLib\Models\VoidPaymentRequest;

class VoidApi extends BaseApi
{
    /**
     * Void a Payment API is only used, if you have requested Authorization and Capture together in
     * [/pts/v2/payments]( API call. Include the payment ID in the POST request to cancel the payment.
     *
     *
     * @param string $id The payment ID returned from a previous payment request.
     * @param VoidPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function voidPayment(string $id, VoidPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/payments/{id}/voids')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2PaymentsVoidsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2PaymentsVoidsPost502Response1Exception::class
                )
            )
            ->type(PtsV2PaymentsVoidsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refund a capture API is only used, if you have requested Capture independenlty using
     * [/pts/v2/payments/{id}/captures]( API call. Include the capture ID in the POST request to cancel the
     * capture.
     *
     *
     * @param string $id The capture ID returned from a previous capture request.
     * @param VoidPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function voidCapture(string $id, VoidPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/captures/{id}/voids')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CapturesVoidsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CapturesVoidsPost502Response1Exception::class
                )
            )
            ->type(PtsV2CapturesVoidsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Include the refund ID in the POST request to cancel the refund.
     *
     * @param string $id The refund ID returned from a previous refund request.
     * @param VoidPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function voidRefund(string $id, VoidPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/refunds/{id}/voids')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2RefundsVoidsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2RefundsVoidsPost502Response1Exception::class
                )
            )
            ->type(PtsV2RefundsVoidsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Include the credit ID in the POST request to cancel the credit.
     *
     * @param string $id The credit ID returned from a previous credit request.
     * @param VoidPaymentRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function voidCredit(string $id, VoidPaymentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/credits/{id}/voids')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Invalid request.', PtsV2CreditsVoidsPost400Response1Exception::class)
            )
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2CreditsVoidsPost502Response1Exception::class
                )
            )
            ->type(PtsV2CreditsVoidsPost201Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This is to void a previous payment, capture, refund, or credit that merchant does not receive a
     * reply(Mostly due to timeout). To use this feature/API, make sure to pass unique value to field -
     * clientReferenceInformation -> transactionId in your payment, capture, refund, or credit API call and
     * use same transactionId in this API request payload to reverse the payment.
     *
     * @param MitVoidRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function mitVoid(MitVoidRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pts/v2/voids')
            ->auth(Auth::and('BearerAuth', 'Accept'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid request.', PtsV2VoidsPost400Response1Exception::class))
            ->throwErrorOn(
                '502',
                ErrorType::init(
                    'Unexpected system error or system timeout.',
                    PtsV2VoidsPost502Response1Exception::class
                )
            )
            ->type(PtsV2VoidsPost200Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
